<div main-navbar></div>

<div class="info-container">
    <div>
        <input type="text" placeholder="Search a song" ng-model="search" />
    </div>
    <ul>
        <li ng-repeat="song in album.songs | filter:search">
            <div ng-show="song.moreinfo">
                <a href="#/albums/{{album.id}}/{{song.id}}">
                    <span>{{song.title}}</span>
                    <span ng-repeat="name in song.leadVocals">{{name}}</span>
                    <span>{{song.length}}</span>
                </a>
            </div>
            <div ng-hide="song.moreinfo">
                <span>{{song.title}}</span>
                <span ng-repeat="name in song.leadVocals">{{name}}</span>
                <span>{{song.length}}</span>
            </div>
        </li>
    </ul>
</div>